<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form action="/culturals" method="post">
            <label>name</label>
            <input type="text" name="firstname" value=<%= locals.name %>>
            <button type="submit">submit</button>
    </body>
</html>